<div class="container-fluid" style="margin-top: 1em;">
    <nav class="navbar navbar-expand-lg navbar-light" id="adminNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#adminBar"
            aria-controls="adminBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="" class="navbar-brand"><img src="img/cat.png" style="height: 30px;">&nbsp;Admin
            Panel</a>
        <div class="collapse navbar-collapse" id="adminBar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="postManage" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">จัดการโพสต์</a>
                    <div class="dropdown-menu" aria-labelledby="postManage">
                        <a href="/admin/change" class="dropdown-item">ปรับสถานะโพสต์</a>
                        <a href="/admin/report" class="dropdown-item">แจ้งโพสต์ผิดกฎ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="foundationManage" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">จัดการข้อมูลมูลนิธิ</a>
                    <div class="dropdown-menu" aria-labelledby="foundationManage">
                        <a href="/foundation/create" class="dropdown-item">เพิ่มมูลนิธิ</a>
                        <a href="/foundation/list" class="dropdown-item">แก้ไขและดูข้อมูล</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="howtoManage" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">จัดการคู่มือการเลี้ยง</a>
                    <div class="dropdown-menu" aria-labelledby="howtoManage">
                        <a href="/howto/create" class="dropdown-item">เพิ่มคู่มือการเลี้ยง</a>
                        <a href="/howto/list" class="dropdown-item">แก้ไขและดูคู่มือการเลี้ยง</a>
                    </div>

                </li>
            </ul>
        </div>
    </nav>
</div>