<!-- FOOTER START -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>FIND MY HOUSE</h4>
                <!-- <p>Animal treatment, bathing, haircut,<br>
                    health check, surgery, animal husbandry,<br>
                    sick Off-site service Pet grooming<br>
                    and veterinarians. </p> -->
            </div>
            <div class="col-md-4">
                <h4>PAGES</h4>
                <ul class="list-unstyled">
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="/">HOME</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="/signin">LOGIN</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="/signup">REGISTER</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="#">PET SERVICE</a></li>
                    <li><i class="fa fa-caret-right fa-fw" aria-hidden="true"></i> <a href="/">FIND MY HOUSE</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h4>CONTACT US</h4>
                <p><i class="fa fa-map-pin fa-fw"></i> 126 Pracha Uthit Rd, Bang Mot, Thung Khru, Bangkok
                    10140</p>
                <p><i class="fa fa-phone fa-fw"></i> +66 2470 8000</p>
                <p><i class="fa fa-clock-o fa-fw"></i> 8.30 am. - 4.30 pm. </p>
                <p><i class="fa fa-envelope fa-fw"></i> info@kmutt.ac.th</p>
            </div>
        </div>
    </div>
</section>
<!-- FOOTER END -->

