<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <button class="navbar-toggler">
        <span onclick="openNav()"><i class="fas fa-bars"></i></span>
    </button>

    <a id="desktop-logo" href="/" class="navbar-brand"><img src="img/cat.png" style="height: 30px;">&nbsp;Find My House</a>