<div class="collapse navbar-collapse">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">หน้าแรก</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/howto">คู่มือการเลี้ยง</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">เรื่องแบบ</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cat">เรื่องแบบแมว</a>
                    <a class="dropdown-item" href="/dog">เรื่องแบบหมา</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/foundation">มูลนิธิเพื่อสัตว์</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">เรื่องของเรา</a>
            </li>
        </ul>
    </div>
    <a class="loginlink" href="/signin">
        <i class="fas fa-user-circle"></i>
        บัญชีผู้ใช้
    </a>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="/" style="margin-top: 1em;">หน้าแรก</a>
    <a href="/howto">คู่มือการเลี้ยง</a>
    <a href="/cat">เรื่องแบบแมว</a>
    <a href="/dog">เรื่องแบบหมา</a>
    <a href="/foundation">มูลนิธิเพื่อสัตว์</a>
    <a href="/signin">บัญชีผู้ใช้</a>
    <a href="/aboutus">ติดต่อเรา</a>
    <a href="#" onclick="closeNav()"><i class="fas fa-times"></i></a>
</div>