<!DOCTYPE html>
<html lang="en">

<head>
    <title>เรื่องของเรา</title>
    <% include partials/header %>
</head>

<body>
    <div class="banner">
        <img src="img/cat.png">
        <h1>เรื่องของเรา</h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">เรื่องของเรา</a>
    <% include partials/navbar2 %>

    <div class="showPost">
        <div class="card aboutUsCard">
            <div class="card-body w-100">
                <div class="row">
                    <div class="col-12" style="text-align: center;">
                        <h2 class="postDetailHead">Find My House</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Web Application "Find My House" นี้เป็นโครงงานที่สร้างขึ้นในรายวิชา
                            CSS227 Web Programming
                            สาขาวิชาวิทยาการคอมพิวเตอร์ประยุกต์ ภาควิชาคณิตศาสตร์ คณะวิทยาศาสตร์
                            มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <h1 class="postDetailHead">คณะผู้จัดทำ</h1>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12 col-md-4 col-lg-4" style="text-align: center;">
                        <img src="img/web_avatar.png" style="width: 150px;">
                    </div>
                    <div class="col-12 col-md-auto col-lg-auto">
                        <label>นายสิทธินนท์ เสือไวย์</label>
                        <p>
                            นักศึกษาชั้นปีที่ 2 สาขาวิชาวิทยาการคอมพิวเตอร์ประยุกต์
                        </p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12 col-md-4 col-lg-4" style="text-align: center;">
                        <img src="img/web_avatar.png" style="width: 150px;">
                    </div>
                    <div class="col-12 col-md-auto col-lg-auto">
                        <label>นางสาวชมอนงค์ รอดมี</label>
                        <p>
                            นักศึกษาชั้นปีที่ 2 สาขาวิชาวิทยาการคอมพิวเตอร์ประยุกต์
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <h1 class="postDetailHead">ที่อยู่ในการติดต่อ</h1>
                    </div>
                </div>
                <p>
                    มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี <br>126 ถ.ประชาอุทิศ แขวงบางมด เขตทุ่งครุ กรุงเทพมหานคร 10140
                </p>
            </div>
        </div>
    </div>
</body>

</html>