<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <% include partials/header %>
</head>

<body>
    <div class="banner">
        <img src="img/cat.png">
        <h1>มูลนิธิเพื่อสัตว์</h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">มูลนิธิเพื่อสัตว์</a>
    <% include partials/navbar2 %>

    <div class="searchTab">
        <form method="POST" action="">
            <div class="input-group">
                <input type="text" id="foundationSearch" class="form-control" placeholder="ค้นหา" required>
                <div class="input-group-append">
                    <button type="submit" class="btn" style="background-color: #795548"><i class="fas fa-search"
                            style="color: white;"></i></button>
                </div>
            </div>

        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card w-100 foundationcard">
                    <img src="img/card-img-mobile.jpg" class="card-img-top">
                    <div class="card-body">
                        <p>ชมรมวางแผนครอบครัวและส่งเสริมสวัสดิภาพสุนัข</p>
                        <a class="btn btn-success" href="foundationDetail.html">อ่านรายละเอียด</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card w-100 foundationcard">
                    <img src="img/card-img-mobile.jpg" class="card-img-top">
                    <div class="card-body">
                        <p>ชมรมวางแผนครอบครัวและส่งเสริมสวัสดิภาพสุนัข</p>
                        <a class="btn btn-success" href="#">อ่านรายละเอียด</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card w-100 foundationcard">
                    <img src="img/card-img-mobile.jpg" class="card-img-top">
                    <div class="card-body">
                        <p>ชมรมวางแผนครอบครัวและส่งเสริมสวัสดิภาพสุนัข</p>
                        <a class="btn btn-success" href="#">อ่านรายละเอียด</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card w-100 foundationcard">
                    <img src="img/card-img-mobile.jpg" class="card-img-top">
                    <div class="card-body">
                        <p>ชมรมวางแผนครอบครัวและส่งเสริมสวัสดิภาพสุนัข</p>
                        <a class="btn btn-success" href="#">อ่านรายละเอียด</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card w-100 foundationcard">
                    <img src="img/card-img-mobile.jpg" class="card-img-top">
                    <div class="card-body">
                        <p>ชมรมวางแผนครอบครัวและส่งเสริมสวัสดิภาพสุนัข</p>
                        <a class="btn btn-success" href="#">อ่านรายละเอียด</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card w-100 foundationcard">
                    <img src="img/card-img-mobile.jpg" class="card-img-top">
                    <div class="card-body">
                        <p>ชมรมวางแผนครอบครัวและส่งเสริมสวัสดิภาพสุนัข</p>
                        <a class="btn btn-success" href="#">อ่านรายละเอียด</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>