<!DOCTYPE html>
<html lang="en">

<head>
    <title>รายการมูลนิธิเพื่อสัตว์</title>
    <% include partials/header %>
</head>

<body>
    <% data %>
    <div class="banner">
        <img src="img/cat.png">
        <h1>ระบบบริหารและจัดการข้อมูล</h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">มูลนิธิเพื่อสัตว์</a>
    <% include partials/navbar2 %>

    <% include partials/adminnav %>

    <div class="searchTab">
        <form method="POST" action="">
            <div class="input-group">
                <input type="text" id="foundationSearch" class="form-control" placeholder="ค้นหา" required>
                <div class="input-group-append">
                    <button type="submit" class="btn" style="background-color: #795548"><i class="fas fa-search"
                            style="color: white;"></i></button>
                </div>
            </div>

        </form>
    </div>

    <div class="container">
        <div class="row">
            <% for(let i = data.length -1; i >= 0 ; i--){ %>
            <div class="col-sm-12 col-md-4">
                <div class="card w-100 foundationcard">
                    <img src="/image/foundation/<%= data[i]._id %>" class="card-img-top img-fluid">
                    <div class="card-body">
                        <p><%= data[i].name %></p>
                        <a class="btn btn-success" href="/foundation/<%= data[i]._id %>">อ่านรายละเอียด</a>
                        <a class="btn btn-outline-warning btn-dark" href="/foundation/edit_<%= data[i]._id %>">แก้ไขข้อมูล</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>