<!DOCTYPE html>
<html lang="en">

<head>
    <title>รายละเอียดคู่มือการเลี้ยง</title>
    <% include partials/header %>
</head>

<body>
    <% postdata %>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">คู่มือการเลี้ยง</a>
    <% include partials/navbar2 %>

    <div class="banner">
        <h1>คู่มือการเลี้ยง</h1>
        <br>
    </div>

    <div class="showPost">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body w-100">
                        <label>
                            <h1 id="foundationName"><%= postdata.title %></h1>
                        </label>
                        <p id="foundationDetail">
                            <%= postdata.description %>
                        </p>
                        <img src="/image/howto/<%= postdata._id %>" class="img-fluid">
                        <div style="width: 100%; text-align: center; margin-top: 2em;">
                            <a href="/howto" class="btn btn-outline-primary btn-light">กลับ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>