<!DOCTYPE html>
<html lang="en">

<head>
    <title>คู่มือการเลี้ยง</title>
    <% include partials/header %>
</head>

<body>
    <div class="banner">
        <img src="img/cat.png">
        <h1>คู่มือการเลี้ยง</h1>
        <br>
    </div>

    <% include partials/navbar %>
    <a id="pageActive" class="nav-item active nav-link" href="#">คู่มือการเลี้ยง</a>
    <% include partials/navbar2 %>

</body>

</html>